.instructions {
  padding-bottom: 2em;
}

.instructions h4 {
  margin-bottom: 1em;
}

.instructions section {
  padding: 2rem;
  margin-bottom: 2em;
  border-radius: 0.3em;
  box-shadow: 2px 2px 3px #222;
}

.instructions section > div:first-child {
  padding-left: 0;
  padding-right: 2em;
}

.instructions section > div:last-child {
  padding-left: 2em;
  padding-right: 0;
}

.instructions section {
  font-family: 'Baloo Paaji 2';
}

.instructions p.alert {
  margin-bottom: 2em;
}

.instructions emph {
  font-style: italic;
}

.CodeMirror {
  height: 100%;
}

.instructions .challenge-container {
  padding: 0;
}

.challenge-container .card .card-header {
  font-size: 120%;
}

.challenge-container .CodeMirror {
  font-size: 120%;
}

.challenge-container .simulation-buttons button {
  margin-left: 5px;
  box-shadow: 0 0 2px black;
}

.example-container .CodeMirror {
  font-size: 120%;
}

.card {
  background-color: #3d3d3d;
  overflow: hidden;
}

.card .card-header {
  color: #c5c5c5;
  text-shadow: 0 1px 1px black;
  background: linear-gradient(0deg, rgba(61,61,61,1) 10%, rgba(50,50,50,1) 50%);
  border-bottom: 0;
}

.card .card-body {
  background-color: #3d3d3d;
}

.card .card-body h5 {
  margin-bottom: 20px;
}

.challenge-container .simulation-container {
  min-height: 500px;
}

.demo-container .simulation-container {
  min-height: 300px;
}

.challenge-container .grid-container, .demo-container .grid-container {
  display: none;
}

.challenge-container .simulation-robots, .demo-container .simulation-robots {
  display: none;
}

.challenge-container .editor-code-container {
  height: 90%;
}

.challenge-container .editor-output-container {
  height: 10%;
  padding-left: 50px;
  color: #ffc;
}

.bounce-horizontal {
  -webkit-animation: bounce-horizontal 1s infinite;
}

@-webkit-keyframes bounce-horizontal {
  0%       { left: 5px; }
  50%      { left: 20px; }
  100%     { left: 5px;}
}

.bounce-vertical {
  -webkit-animation: bounce-vertical 1s infinite;
}

@-webkit-keyframes bounce-vertical {
  0%       { top: 5px; }
  50%      { top: 20px; }
  100%     { top: 5px;}
}
