body {
  font-family: 'Lato', 'Roboto', sans-serif;
}

.navbar {
  margin-bottom: 2em;
}

main {
  margin-bottom: 150px;
}

code {
  color: #aac6e3;
}

ul {
  list-style: square;
}

a, a:hover {
    color: #fc5;
}

.navbar-brand img {
  height: 1.5em;
  margin-right: 5px;
}
